In [2]:
!pip install pandas

Requirement already satisfied: pandas in /Library/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /Library/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas
pandas.__version__

'2.1.4'

In [3]:
!pip upgrade pandas

ERROR: unknown command "upgrade"

In [4]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /Library/anaconda3/lib/python3.11/site-packages (2.1.4)
Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in /Library/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Library/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 7.7 MB/s eta 0:00:0000:0100:01m
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.1.4
    Uninstalling pandas-2.1.4:
      Successfully uninstalled pandas-2.1.4
Successfully installed pandas-2.2.2

In [9]:

pandas.__version__

'2.1.4'

In [15]:
import numpy as np
import pandas as pd
a = np.array(['1','2','3','4','5'])
series_from_array = pd.Series(a)
series_from_array2 = pd.Series(a,index={'a','b','c','d','e'})
series_from_array2

c    1
d    2
a    3
e    4
b    5
dtype: object

In [20]:
import numpy as np
import pandas as pd
b ={'a':'1','b':'2','c':'3','d':'4','e':'5'}
series_from_dis = pd.Series(b)
series_from_dis

a    1
b    2
c    3
d    4
e    5
dtype: object

In [22]:
c = ['python','C','C++']
dataframe = pd.DataFrame(c)
dataframe

        0
0  python
1       C
2     C++

In [25]:
pd.DataFrame(c,columns=['Languages'])

  Languages
0    python
1         C
2       C++

In [26]:
d = [['Ram thapa','Koteshwor'],['Gaurav lame','Santinagar']]
data_frame = pd.DataFrame(d,columns=('Name','Address'))
data_frame

          Name     Address
0    Ram thapa   Koteshwor
1  Gaurav lame  Santinagar

In [30]:
series_from_array2['a']

Series([], dtype: object)

In [33]:
series_from_array2[1:3]

d    2
a    3
dtype: object